/*
 Theme Name:   OceanWP Tab Child
 Theme URI:    
 Description:  OceanWP Child Theme for Tab
 Author:       Jan-Marten Daling
 Author URI:   
 Template:     oceanwp
 Version:      1.0.0
 License: GNU General Public License version 3
 License URI: http://www.opensource.org/licenses/gpl-license.php GPL v3.0 (or later)
 Tags: custom
 Text Domain:  tabticketbroker
*/

img[alt=Steffen_Ueberuns], img[alt=Anke_Ueberuns] { 
    width: 300px; 
}

img[alt=Karte-Zelte-Ofest] { 
    width: 600px; 
}

.current-menu-item {
    font-size: 1.5rem;
    font-weight: 600;
}

h6 {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    list-style-type: none;
    line-height: 1.5rem;
    text-align: center;
    font-weight: bold;
    box-sizing: border-box;
    margin-bottom: 0;
    font-family: Cookie !important;
    font-size: 4em !important;
    color: #3083c0 !important;
}

/* Change icon of woocommerce side cart */
/* .xoo-wsc-icon-basket1:before {
    content: "\e902";
} */
/* Change icon (to same as side cart) of wp ocean cart icon displayed in main menu on right*/
/* .icon-handbag {
    font-family:'Woo-Side-Cart' !important;
    font-weight: unset !important;
}
.icon-handbag:before{
    content: "\e902" !important;
} */
/* Add justify class, used in some page blocks as additional class */
.text-justify {
    text-align: justify;
}

/* Hide basket on home page */
.page-id-10 .xoo-wsc-modal{
    display: none;
}

.cookie-btn {
    background-color: #1CAFED !important;
}

/* Newsletter email text field unclear on dark background */

#mc-embedded-subscribe-form > div.email-wrap.elem-wrap > input {
    color: #FFF;
}

/* Show/Hide english(widget-3)/german(widget-2) newsletter */
.translatepress-en_GB #yikes_easy_mc_widget-2{
    display: none;
}
.translatepress-en_GB #yikes_easy_mc_widget-3{
    display: unset !important;
}
#yikes_easy_mc_widget-3{
    display: none;
}

/* Fix spacing on logo and menu of main nav */
#site-navigation {
    padding-top: 15px;
}
#site-logo #site-logo-inner {
    padding: 5px 0 13px 0;
}

#menu-main-menu li a {
    font-size: 16px !important;
    font-weight: 600 !important;
}


/* Style the countdown timer:
Custom CSS on the block of the page makes the background blue, here we fix the 
text alignment and spacing */
.hurrytimer-headline {
    vertical-align: unset !important;
    margin-left: 20px;
}
.hurrytimer-timer-label {
    color: #FFF !important;
}

.timer-block {
    background-color: #3083c0;
    text-align: center;
    padding-top: 8px;
}

.shipping_method {
    margin-right: 5px;
}

/* Border for product filters */
.woof_container {
    border-color: #dadae5;
    border: solid;
    border-radius: 7px;
    border-width: thin;
    padding: 5px 0 0 5px;
}

/* Shop page: Remove the sorting & result count */
.oceanwp-toolbar {
    display: none !important;
}

.hurrytimer-timer-digit {
    color: white;
}